{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col items-center justify-center mt-8">
<h2 class="lg:text-3xl md:text-3xl sm:text-2xl text-xl text-slate-700">Materiales, herramientas y EPP</h2>
<div class="flex flex-wrap justify-center w-full gap-8 mt-5">


{% for producto in productos %}
<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center pb-10 mt-5">
        <img class="w-24 h-24 mb-3 shadow-lg" src="{{ producto[3] }}" alt="{{ producto[1] }}"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ producto[1] }}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{ producto[2] }}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">Stock: {{ producto[4] }}</span>
        <label for="quantity-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione la cantidad:</label>
        <div class="relative flex items-center max-w-[11rem]">
            <button type="button" id="decrement-button" data-input-counter-decrement="quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                </svg>
            </button>
            <input type="text" id="quantity-input" data-input-counter data-input-counter-min="1" data-input-counter-max="5" aria-describedby="helper-text-explanation" class="bg-gray-50 border-x-0 border-gray-300 h-11 font-medium text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pb-6 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1" value="1" required>
            <div class="absolute bottom-1 start-1/2 -translate-x-1/2 rtl:translate-x-1/2 flex items-center text-xs text-gray-400 space-x-1 rtl:space-x-reverse">
                <svg class="w-4 h-4 text-gray-400" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <path d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
                  <path d="M12 9h.01" />
                  <path d="M11 12h1v4h1" />
                </svg>
                <span>Cantidad</span>
            </div>
            <button type="button" id="increment-button" data-input-counter-increment="quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                </svg>
            </button>
        </div>
        <div class="flex mt-4 md:mt-6">
            <button id="add-inventory" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-green-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" type="submit">Agregar al inventario 
                <svg xmlns="http://www.w3.org/2000/svg" class="ml-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M9 12h6" />
                  <path d="M12 9v6" />
                  <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
                </svg>
            </button>
        </div>
    </div>
</div>
{% endfor %}
</div>


{% endblock %}
{% block script %}
<script>
    const cantidad = document.getElementById('quantity-input')
    const producto = document.getElementById('producto')
    const inventory = {}

   
    const addInventory = () =>{
        const data = {
            'producto': producto.innerHTML,
            'quantity': cantidad.value
        }
        inventory[data.producto] = data.quantity
        saveInventory()
    }

    const saveInventory = () => {
        localStorage.setItem('inventory', JSON.stringify(inventory))
    }
    

</script>
{% endblock %}
